/*Importing bootstrap*/
//@import "bootstrap/scss/bootstrap";
@import "~bootstrap/scss/bootstrap";
/*Importing variables.scss*/
@use "assets/styles/variables";

#sidebar-wrapper {
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
  margin-left: 15px;
}

$theme-colors: ();

$border-radius: 10rem;
